name: Latest douban

on:
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: zylele/social-readme@master
        with:
          blog_rss_link: https://blog.xxfer.cn/rss.xml
          blog_limit: 6 # blog数量
          douban_name: xxferyyds
          douban_limit: 5 # 豆瓣最新动态数量
          commit_message: Updated douban # commit说明
          
